* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

#master-div {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #FFF;
  background-color: #0a0a23;
  overflow-y: scroll;
}

#title-row {
  border-bottom: white 2px solid;
}

#editor-column {
  border-right: white 2px solid;
  padding-bottom: 10px;
}

#preview-column {
    margin-bottom: 10px;
}

.subtitle {
  border-bottom: white 2px solid;
  margin-bottom: 10px;
  margin-top: 6px;
}

#master-container {

}